<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>时间选择器</string>
		<key>className</key>
		<string>DateTimePickerVC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>手势操作</string>
		<key>className</key>
		<string>GestureVC</string>
	</dict>
</array>
</plist>
